.contact-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-col {
    display: flex;
    align-items: stretch;
    margin-bottom: 16px;
  }
  
  .contact-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  